/* @import url('https://fonts.googleapis.com/css2?
family=Poppins:wght@400;600&display=swap'): */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    
}
body{
    background: #dfe9f5;
}
.wrapper{
    width: 400px;
    padding: 2rem 1rem;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}
h1{
    font-size: 2rem;
    color: #3a383f;
    margin-bottom: 1.2rem;
}

.social_icon{
    margin: 30 px auto;
    text-align: center;
    padding-bottom: 10px;
}
.social_icon img{
    width: 40px;
    margin: 0 4px;
    box-shadow: 0 0 2px 0 #fff;
    cursor: pointer;
    border-radius: 50%;
}
p{
    font-size: 12px;
    color: #868197;
    padding-top: 10px;
    margin-bottom: 1.2rem;
}
form input{
    width: 92%;
    outline: none;
    border: 1px solid #fff;
    padding: 12px 20px;
    margin-bottom: 10px;
    border-radius: 20px;
    background: #e8e8e8;
}
button{
    font-size: 1rem;
    margin-top: 12px;
    padding: 10px 0;
    border-radius: 20px;
    outline: none;
    border: none;
    width: 90%;
    color: #fff;
    cursor: pointer;
    background: #b362cc;
}
button:hover{
    background: #721f8b;
}
input:focus{
    border: 1px solid ;
}
.member{
    font-size: 0.9rem;
    margin-top: 1.4rem;
    color: #868197;
    text-decoration: none;
}
.member a{
    color: #721f8b;
    text-decoration: none;
}